@model HortaApp.Web.Models.ViewModels.PerfilViewModel

@{
    ViewBag.Title = "Details";
}
<span>@ViewBag.Message</span>
<h2>@Html.DisplayFor(model => model.NomeUsuario)</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuarioid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarioid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoPerfil)
        </dt>

        <dd>
            <img align="right" class="fb-image-profile thumbnail" src="@Html.DisplayFor(model => model.FotoPerfil)"/>
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Usuarioid }) |
    @Html.ActionLink("Alterar sua senha", "ChangePassword","Manage")
</p>
